* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.header {
  border-bottom: 1px solid teal;
  text-align: center;
}

.item-container {
  display: flex;
  margin-bottom : 20px;
  border: 1px solid black;
}

.right-item-container {
  padding-left: 10px;
  font-size: 15px;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 100;
  margin-top: 20px;
}

.increment-arrow {
  font-size: 30px;
}