* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.header {
  border-bottom: 1px solid teal;
  text-align: center;
}

.item-container {
  display: flex;
  margin-bottom : 20px;
}

.right-item-container {
  padding-left: 10px;
  font-size: 15px;
}


/* make main-container flexbox
- add bottom border to header
add border to item */